In [2]:
import pandas as pd

file_path = r"C:\Users\shiva\Downloads\credit_customers.csv"
creditscore = pd.read_csv(file_path)

creditscore.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad

In [7]:
creditscore.columns

Index(['checking_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings_status', 'employment',
       'installment_commitment', 'personal_status', 'other_parties',
       'residence_since', 'property_magnitude', 'age', 'other_payment_plans',
       'housing', 'existing_credits', 'job', 'num_dependents', 'own_telephone',
       'foreign_worker', 'class'],
      dtype='object')

In [21]:
creditscore.drop(columns = ["checking_status", "other_parties", "own_telephone"], inplace = True, errors ='ignore')

In [22]:
creditscore.columns

Index(['duration', 'credit_history', 'purpose', 'credit_amount',
       'savings_status', 'employment', 'installment_commitment',
       'personal_status', 'residence_since', 'property_magnitude', 'age',
       'other_payment_plans', 'housing', 'existing_credits', 'job',
       'num_dependents', 'foreign_worker', 'class'],
      dtype='object')

In [26]:
creditscore.rename(columns = {"duration" : "loan_duration", "employment" : "employment_length", "housing" : "house_ownership"}, inplace = True, errors = "ignore" )

In [27]:
creditscore.columns

Index(['loan_duration', 'credit_history', 'purpose', 'credit_amount',
       'savings_status', 'employment_length', 'installment_commitment',
       'personal_status', 'residence_since', 'property_magnitude', 'age',
       'other_payment_plans', 'house_ownership', 'existing_credits', 'job',
       'num_dependents', 'foreign_worker', 'class'],
      dtype='object')

In [28]:
creditscore.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [30]:
creditscore.isna().sum()

loan_duration             0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment_length         0
installment_commitment    0
personal_status           0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
house_ownership           0
existing_credits          0
job                       0
num_dependents            0
foreign_worker            0
class                     0
dtype: int64

In [31]:
creditscore["class"]

0      good
1       bad
2      good
3      good
4       bad
       ...
995    good
996    good
997    good
998     bad
999    good
Name: class, Length: 1000, dtype: object

In [32]:
creditscore["class"].unique()

array(['good', 'bad'], dtype=object)

In [46]:
creditscore["class"] = creditscore["class"].apply(lambda x : 1 if x == "good"  else 0)

In [64]:
creditscore.drop(columns = "Foreign_worker", inplace = True)

In [76]:
creditscore.columns = [i.capitalize() for i in creditscore.columns]

In [66]:
creditscore

,Loan_duration,Credit_history,Purpose,Credit_amount,Savings_status,Employment_length,Installment_commitment,Personal_status,Residence_since,Property_magnitude,Age,Other_payment_plans,House_ownership,Existing_credits,Job,Num_dependents,Class
0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,4.0,real estate,67.0,none,own,2.0,skilled,1.0,1
1,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,2.0,real estate,22.0,none,own,1.0,skilled,1.0,0
2,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,3.0,real estate,49.0,none,own,1.0,unskilled resident,2.0,1
3,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,4.0,life insurance,45.0,none,for free,1.0,skilled,2.0,1
4,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,4.0,no known property,53.0,none,for free,2.0,skilled,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12.0,existing paid,furniture/equipment,1736.0,<100,4<=X<7,3.0,female div/dep/mar,4.0,real estate,31.0,none,own,1.0,unskilled resident,1.0,1
996,30.0,existing paid,used car,3857.0,<100,1<=X<4,4.0,male div/sep,4.0,life insurance,40.0,none,own,1.0,high qualif/self emp/mgmt,1.0,1
997,12.0,existing paid,radio/tv,804.0,<100,>=7,4.0,male single,4.0,car,38.0,none,own,1.0,skilled,1.0,1
998,45.0,existing paid,radio/tv,1845.0,<100,1<=X<4,4.0,male single,4.0,no known property,23.0,none,for free,1.0,skilled,1.0,0
999,45.0,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3.0,male single,4.0,car,27.0,none,own,1.0,skilled,1.0,1

In [79]:
# Mapping Employment_length and Savings_status

employment_mapping = { "unemployed" : 0.0, '<1': 0.5, '1<=X<4': 2.5, '4<=X<7': 5.5, '>=7': 7.0} 
creditscore["Employment_length"] = creditscore["Employment_length"].map(employment_mapping)
print(creditscore)

     Loan_duration                  Credit_history              Purpose  \
0              6.0  critical/other existing credit             radio/tv
1             48.0                   existing paid             radio/tv
2             12.0  critical/other existing credit            education
3             42.0                   existing paid  furniture/equipment
4             24.0              delayed previously              new car
..             ...                             ...                  ...
995           12.0                   existing paid  furniture/equipment
996           30.0                   existing paid             used car
997           12.0                   existing paid             radio/tv
998           45.0                   existing paid             radio/tv
999           45.0  critical/other existing credit             used car

     Credit_amount    Savings_status  Employment_length  \
0           1169.0  no known savings                7.0
1           5951.0              <100                2.5
2           2096.0              <100                5.5
3           7882.0              <100                5.5
4           4870.0              <100                2.5
..             ...               ...                ...
995         1736.0              <100                5.5
996         3857.0              <100                2.5
997          804.0              <100                7.0
998         1845.0              <100                2.5
999         4576.0        100<=X<500                0.0

     Installment_commitment     Personal_status  Residence_since  \
0                       4.0         male single              4.0
1                       2.0  female div/dep/mar              2.0
2                       2.0         male single              3.0
3                       2.0         male single              4.0
4                       3.0         male single              4.0
..                      ...                 ...              ...
995                     3.0  female div/dep/mar              4.0
996                     4.0        male div/sep              4.0
997                     4.0         male single              4.0
998                     4.0         male single              4.0
999                     3.0         male single              4.0

    Property_magnitude   Age Other_payment_plans House_ownership  \
0          real estate  67.0                none             own
1          real estate  22.0                none             own
2          real estate  49.0                none             own
3       life insurance  45.0                none        for free
4    no known property  53.0                none        for free
..                 ...   ...                 ...             ...
995        real estate  31.0                none             own
996     life insurance  40.0                none             own
997                car  38.0                none             own
998  no known property  23.0                none        for free
999                car  27.0                none             own

     Existing_credits                        Job  Num_dependents  Class
0                 2.0                    skilled             1.0      1
1                 1.0                    skilled             1.0      0
2                 1.0         unskilled resident             2.0      1
3                 1.0                    skilled             2.0      1
4                 2.0                    skilled             2.0      0
..                ...                        ...             ...    ...
995               1.0         unskilled resident             1.0      1
996               1.0  high qualif/self emp/mgmt             1.0      1
997               1.0                    skilled             1.0      1
998               1.0                    skilled             1.0      0
999               1.0                    skilled             1.0      1

[1000 rows x 17 columns]

In [81]:
# Mapping 'Savings_status 

savings_mapping = {
    'no known savings': 0.0,
    '<100': 50.0,
    '100<=X<500': 300.0,
    '500<=X<1000': 750.0,
    '>=1000': 1000.0}
creditscore["Savings_status"] = creditscore["Savings_status"].map(savings_mapping)

In [82]:
creditscore

,Loan_duration,Credit_history,Purpose,Credit_amount,Savings_status,Employment_length,Installment_commitment,Personal_status,Residence_since,Property_magnitude,Age,Other_payment_plans,House_ownership,Existing_credits,Job,Num_dependents,Class
0,6.0,critical/other existing credit,radio/tv,1169.0,0.0,7.0,4.0,male single,4.0,real estate,67.0,none,own,2.0,skilled,1.0,1
1,48.0,existing paid,radio/tv,5951.0,50.0,2.5,2.0,female div/dep/mar,2.0,real estate,22.0,none,own,1.0,skilled,1.0,0
2,12.0,critical/other existing credit,education,2096.0,50.0,5.5,2.0,male single,3.0,real estate,49.0,none,own,1.0,unskilled resident,2.0,1
3,42.0,existing paid,furniture/equipment,7882.0,50.0,5.5,2.0,male single,4.0,life insurance,45.0,none,for free,1.0,skilled,2.0,1
4,24.0,delayed previously,new car,4870.0,50.0,2.5,3.0,male single,4.0,no known property,53.0,none,for free,2.0,skilled,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12.0,existing paid,furniture/equipment,1736.0,50.0,5.5,3.0,female div/dep/mar,4.0,real estate,31.0,none,own,1.0,unskilled resident,1.0,1
996,30.0,existing paid,used car,3857.0,50.0,2.5,4.0,male div/sep,4.0,life insurance,40.0,none,own,1.0,high qualif/self emp/mgmt,1.0,1
997,12.0,existing paid,radio/tv,804.0,50.0,7.0,4.0,male single,4.0,car,38.0,none,own,1.0,skilled,1.0,1
998,45.0,existing paid,radio/tv,1845.0,50.0,2.5,4.0,male single,4.0,no known property,23.0,none,for free,1.0,skilled,1.0,0
999,45.0,critical/other existing credit,used car,4576.0,300.0,0.0,3.0,male single,4.0,car,27.0,none,own,1.0,skilled,1.0,1

In [90]:
# List of columns to convert

creditscore.categorical_cols = ['Credit_history', 'Purpose', 'Personal_status', 'Property_magnitude',
                    'Other_payment_plans', 'House_ownership', 'Job']

# Convert the selected columns to 'category' data type
for col in categorical_cols:
    creditscore[col] = creditscore[col].astype('category')

In [91]:
creditscore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Loan_duration           1000 non-null   float64
 1   Credit_history          1000 non-null   category
 2   Purpose                 1000 non-null   category
 3   Credit_amount           1000 non-null   float64
 4   Savings_status          1000 non-null   float64
 5   Employment_length       1000 non-null   float64
 6   Installment_commitment  1000 non-null   float64
 7   Personal_status         1000 non-null   category
 8   Residence_since         1000 non-null   float64
 9   Property_magnitude      1000 non-null   category
 10  Age                     1000 non-null   float64
 11  Other_payment_plans     1000 non-null   category
 12  House_ownership         1000 non-null   category
 13  Existing_credits        1000 non-null   float64
 14  Job                     1000 non-null   category
 15  Num_dependents          1000 non-null   float64
 16  Class                   1000 non-null   int64
dtypes: category(7), float64(9), int64(1)
memory usage: 86.5 KB

In [92]:
creditscore

,Loan_duration,Credit_history,Purpose,Credit_amount,Savings_status,Employment_length,Installment_commitment,Personal_status,Residence_since,Property_magnitude,Age,Other_payment_plans,House_ownership,Existing_credits,Job,Num_dependents,Class
0,6.0,critical/other existing credit,radio/tv,1169.0,0.0,7.0,4.0,male single,4.0,real estate,67.0,none,own,2.0,skilled,1.0,1
1,48.0,existing paid,radio/tv,5951.0,50.0,2.5,2.0,female div/dep/mar,2.0,real estate,22.0,none,own,1.0,skilled,1.0,0
2,12.0,critical/other existing credit,education,2096.0,50.0,5.5,2.0,male single,3.0,real estate,49.0,none,own,1.0,unskilled resident,2.0,1
3,42.0,existing paid,furniture/equipment,7882.0,50.0,5.5,2.0,male single,4.0,life insurance,45.0,none,for free,1.0,skilled,2.0,1
4,24.0,delayed previously,new car,4870.0,50.0,2.5,3.0,male single,4.0,no known property,53.0,none,for free,2.0,skilled,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12.0,existing paid,furniture/equipment,1736.0,50.0,5.5,3.0,female div/dep/mar,4.0,real estate,31.0,none,own,1.0,unskilled resident,1.0,1
996,30.0,existing paid,used car,3857.0,50.0,2.5,4.0,male div/sep,4.0,life insurance,40.0,none,own,1.0,high qualif/self emp/mgmt,1.0,1
997,12.0,existing paid,radio/tv,804.0,50.0,7.0,4.0,male single,4.0,car,38.0,none,own,1.0,skilled,1.0,1
998,45.0,existing paid,radio/tv,1845.0,50.0,2.5,4.0,male single,4.0,no known property,23.0,none,for free,1.0,skilled,1.0,0
999,45.0,critical/other existing credit,used car,4576.0,300.0,0.0,3.0,male single,4.0,car,27.0,none,own,1.0,skilled,1.0,1

In [94]:
creditscore.to_csv(r"C:\Users\Shiva\Downloads\creditscore.csv", index = False)